.rmp-popup {
    position: absolute;
    background-color: #fafafa;
    border-radius: 5px;
    border: 2px solid #999;
    padding: 0.5rem;
    z-index: 1000;
    width: 170px;
    height: auto;
    color:#999; 
    text-align:left; 
    padding:10px 15px;
}