.rmp-popup {
    position: absolute;
    background-color: #fafafa;
    border-radius: 5px;
    border: 2px solid #999;
    padding: 4px;
    z-index: 1000;
    width: 170px;
    height: auto;
    color:#505050; 
    text-align:left; 
    padding: 10px 15px;
    line-height: 1.3;
    font-size: 0.9rem;
}

.rmp-popup h2 {
    font-size: 1.2rem; 
    margin: 0 0 0.5rem 0;
}